/* body */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/* main tag */
main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    border: 0;
    border-radius: 5px;
    margin-bottom: 21px;
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px ;
}

/* Top players style */

.section-title{ 
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
    
}
.player img{ 
    height: 56px;
    width: 56px;
}
.player h3{
    font-size: 18px;
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* top blog styles*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.bloginfo{
    margin-left: 16px;
}
.author{
    color: #9F9F9F;
    font-size: 16px;
}
.author a{
    text-decoration: None;
    color:#562EFF;
    font-size: 16px;
}
/* Latest Courses */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 23.61px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.courseinfo{
    font-family: 'Roboto', sans-serif;
}
.course-instructor{
    color: #ED6B4F;
    font-weight: 400;
    font-size: 14.69px

}
.course-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.not-filled{
    color: #aeaeae25 ;
}
/* Media Queries*/
/* Mobile Devices*/
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
        
    }
    .player, .blog,.course{
        flex-direction: column;
    }
